@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  color: white
}

h1 {
  color: white; font-family: 'Poppins', sans-serif;
}

.content {
  padding-top: 15vh;
  padding-left: 35px;
  padding-right: 35px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copy::after {
  content: 'Copy';
}

.copy:hover {
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
}

.copy:focus {
  cursor: pointer;
  background-color: #1d4ed8;
  color: white;
}

.copy:focus::after {
  content: 'Copied!';
}

.generator {
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 1.5s; /* Delay before showing tooltip */
}

/* Tooltip arrow */
.tooltip-container .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
